client_info.txt
Additional_Spotify_Data.ipynb
Hypothesis_Testing.ipynb
templates/
archive/
archive.zip
dataset-of-90s.csv
dataset-of-80s.csv
dataset-of-70s.csv
dataset-of-60s.csv
dataset-of-10s.csv
dataset-of-00s.csv
genre_data/
rf_predictor.pkl
